@font-face {
  font-family: 'Line Seed Sans TH';
  src: url('https://seed.line.me/src/fonts/LineSeedSansTH_W_Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Line Seed Sans TH';
  src: url('https://seed.line.me/src/fonts/LineSeedSansTH_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Line Seed Sans TH';
  src: url('https://seed.line.me/src/fonts/LineSeedSansTH_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Line Seed Sans TH';
  src: url('https://seed.line.me/src/fonts/LineSeedSansTH_W_XBd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Line Seed Sans TH';
  src: url('https://seed.line.me/src/fonts/LineSeedSansTH_W_He.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-base: 'Line Seed Sans TH', sans-serif;

  /* Red Theme */
  --vp-c-brand-1: #ff3333;
  --vp-c-brand-2: #ff6666;
  --vp-c-brand-3: #ff0000;
  --vp-c-brand-soft: rgba(255, 51, 51, 0.16);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ff3333 30%, #ff0000);
}